#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.startButton {
  margin: 1rem;
}

.images {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  /* display: none; */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;

}

.background {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: white
}

.is-active {
  display: block;
}