#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.startButton {
  margin: 1rem;
}

.card {
  position: relative
}

.front {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  /* display: none; */
}

.card img {
  width: 100%;
  display: block;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;

}

.background {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: white
}

